
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask specific
instance/
.webassets-cache

# Logs and temp files
*.log
*.pot
*.pyc
*.pyo
*.tmp
*.swp

# VS Code / IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints

# dotenv
.env
